<!-- Views not needed anymore since this is just an API -->

<!-- <h1>Welcome to QRaiser!!!</h1>

<h3>Pick your school from the list below!</h3>

<div class="homerooms">
  <% @homerooms.each #do |homeroom| %>
    <div class="homeroom">
      <%= #link_to "The "+ homeroom.gradelevel.to_s+"th grade class of "+ homeroom.teacher.first_name + " " + homeroom.teacher.last_initial + " at "+ homeroom.school.district + " in " +  homeroom.school.state, homeroom_path(homeroom), {:id => homeroom.id} %> <br>
    </div>
  <% #end %>
</div> -->